# Deny-all by default
*

# Allow-list
!/.gitignore
!/.gitattributes
!/LICENSE
!/README.md
!/README.pt-BR.md
!/dub.sdl
!/dub.json
!/.github/
!/source/
!/examples/
!/precompiled/
!/precompiled/**
!/libs/
!/libs/**
